<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio-ParthDev</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/6777739dbf.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <header>
        <nav>
            <div class="left">Parth's Portfolio</div>
            <div class="right"></div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About </a></li>
                <li><a href="/work">My Work</a></li>
                <li><a href="/contact">Contact</a></li>    
            </ul>
        </nav>
    </header>

    <main>
        <section class="firstSection ">
        <div class="leftSection">
            Hi, My name is <span class="blue">Parth</span>
            <div>and I am a Passionate</div>
            <span id="element"></span>
            <div class="buttons"></div>
            <button id="btns">Download Resume </button>
            <button id="btn"> Visit Github</button>
        </div>
        <div class="rightSection">
            <!-- <img src="/images/portbg-removebg.png" alt=""></div> -->
        </section>
        <hr>
        <!-- <section class="secondSection">
            <h1>Work Experince</h1>
            
            <h3>HTML</h3>

            <div class="box">
                <div class="box1"></div>
            </div>
            <h3>CSS</h3>

            <div class="box">
                <div class="box3"></div>
            </div>
            <h3>JavaScript</h3>
            <div class="box">
                <div class="box5"></div>
            </div>
            <h3>NodeJs</h3>
            <div class="box">
                <div class="box7"></div>
            </div>
            <h3>Hosting</h3>

            <div class="box">
                <div class="box9"></div>
            </div>
            
        </section> -->
    </main>
    
    <script src="/static/script.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

     <!-- Setup and start animation! -->

  <script>
    var typed = new Typed('#element', {
      strings: [' Full Stack Web Developer', 'Web Designer','Video Editor '],
      typeSpeed: 70,
    });
  </script>



</body>

</html>