<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio-ParthDev</title>
    <base href="/">
    <link rel="stylesheet" href="/static/style.css" />
    <script
      src="https://kit.fontawesome.com/6777739dbf.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav>
        <div class="left">Parth's Portfolio</div>
        <div class="right"></div>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About </a></li>
          <li><a href="#work">My Work</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="home">
        <div class="leftSection">
          Hi, My name is <span class="blue">Parth</span>
          <div>and I am a Passionate</div>
          <span id="element"></span>
          <div class="buttons"></div>
          <button id="btns">Download Resume</button>
          <button id="btn">Visit Github</button>
        </div>
        <div class="rightSection">
          <img src="/static/images/potbg1-removebg.png" alt="" />
        </div>
      </section>

      <hr />

      <section id="about">
        <h1>About Me</h1>
        <div class="main-section">
          My name is <span class="blue">Parth Manocha</span> and I am from
          <span class="blue">Jaipur</span>
          <div>
            and I am <span class="blue">18</span> years old as a child I've
            always an interest in tech stuff and IT industry..
          </div>
          <div>
            since then started to thinking how the things work here and finally
            decided to started the <span class="blue">programming</span> and
            have a look around this world..
          </div>
        </div>
      </section>

      <hr />

      <section id="work">
        <h1>Work Experince</h1>
        <!-- <hr> -->
        <h3>HTML</h3>

        <div class="box">
          <div class="box1"></div>
        </div>
        <h3>CSS</h3>

        <div class="box">
          <div class="box3"></div>
        </div>
        <h3>JavaScript</h3>
        <div class="box">
          <div class="box5"></div>
        </div>
        <h3>NodeJs</h3>
        <div class="box">
          <div class="box7"></div>
        </div>
        <h3>Hosting</h3>

        <div class="box">
          <div class="box9"></div>
        </div>
      </section>
      <div id="services">
        <div class="container">
          <h1 class="sub-title">Services</h1>
          <div class="services-list">
            <div>
              <i class="fa-sharp fa-solid fa-crop"></i>
              <h2>Web App</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
                perspiciatis labore odio! Officiis numquam quisquam eos
                molestias inventore dolores. Voluptates fuga cum consectetur ut
                ea hic, voluptas natus praesentium saepe blanditiis dolorem
                debitis, aut eveniet?
              </p>
              <a href="#"
                ><i class="fa-solid fa-arrow-up-right-from-square"></i
              ></a>
            </div>
            <div>
              <i class="fa-brands fa-node-js"></i>
              <h2>Hosting</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
                perspiciatis labore odio! Officiis numquam quisquam eos
                molestias inventore dolores. Voluptates fuga cum consectetur ut
                ea hic, voluptas natus praesentium saepe blanditiis dolorem
                debitis, aut eveniet?
              </p>
              <a href="#"
                ><i class="fa-solid fa-arrow-up-right-from-square"></i
              ></a>
            </div>
            <div>
              <i class="fa-solid fa-code"></i>
              <h2>Web Design</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
                perspiciatis labore odio! Officiis numquam quisquam eos
                molestias inventore dolores. Voluptates fuga cum consectetur ut
                ea hic, voluptas natus praesentium saepe blanditiis dolorem
                debitis, aut eveniet?
              </p>
              <a href="#"
                ><i class="fa-solid fa-arrow-up-right-from-square"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <section id="contact-me">
        <h1>Contact</h1>
        <div id="contact">
          <form
            action="/contact"
            name="myForm"
            onsubmit="return validateform()"
            ,
            method="post"
            ,
            class="contact-form"
          >
          <div class="formdesign" id="name">
            <input
              type="text"
              required
              ,
              class="myInput"
              ,
              name="Sname"
              ,
              placeholder="Enter Your Name ">
              <span class="formerror"> </span>
            </div> 
            <div class="formdesign" id="phone">     
            <input
              type="Phone"
              required
              ,
              class="myInput"
              ,
              name="Phone"
              ,
              placeholder="Enter Your Phone No">

            <span class="formerror"> </span>
            </div>

            <div class="formdesign" id="email">
            <input
              type="Email"
              required
              ,
              class="myInput"
              ,
              name="Email"
              ,
              placeholder="Enter Your Email">
              <span class="formerror"> </span>
              </div>
              <div class="formdesign" id="location">
            <input
              type="Location"
              required
              ,
              class="myInput"
              ,
              name="Location"
              ,
              placeholder="Enter Your City Name">
              <span class="formerror"> </span>
            </div>
            <div class="formdesign" id="query">
            <input
              type="Contact"
              required
              ,
              class="myInput"
              ,
              name="Contact"
              ,
              placeholder="Enter any Query/ Work realted stuff">
              <span class="formerror"> </span>
              </div>
            <input class="btn" type="submit" value="Submit">
          </form>
        </div>
      </section>

      <!-- 
        <div id="thirdSectionPortfolio">
            <div class="container">
                <h1 class="sub-title">My Work</h1>
                    <div class="work-list">
                        <div class="work">
                            <img src="/static/images/web app13.png" alt="">
                            <div class="layer">
                                <h3>Media App</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vero itaque ratione corrupti mollitia, nulla in tenetur assumenda modi rem?</p>
                                <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="/static/images/web app13.png" alt="">
                            <div class="layer">
                                <h3>Media App</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vero itaque ratione corrupti mollitia, nulla in tenetur assumenda modi rem?</p>
                                <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            </div>
                        </div>
                        <div class="work">
                            <img src="/static/images/web app13.png" alt="">
                            <div class="layer">
                                <h3>Media App</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis vero itaque ratione corrupti mollitia, nulla in tenetur assumenda modi rem?</p>
                                <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            </div>
                        </div>
                      
                    </div>
            </div>

        </div>
    </section>  -->
    </main>

    <script src="./static/script.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!-- Setup and start animation! -->

    <script>
      var typed = new Typed("#element", {
        strings: [" Full Stack Web Developer", "Web Designer", "Video Editor "],
        typeSpeed: 70,
      });
    </script>
  </body>
</html>
